In python programming, there are several different types of variables which have different applications. 

    Text Type: str 

    Numeric Types: int, float, complex 

    Sequence Types: list, tuple, range 

    Dictionary Type: dict 

    Set Types: set, frozenset 

    Boolean Type: bool 

    Binary Types: bytes, bytearray, memoryview 

    None Type: NoneType 

Today we start with str.

In [1]:
text = "Hello Tea rabbit!"
print(text)
print(type(text))

Hello Tea rabbit!
<class 'str'>

If we want to make the output easy to read, we can modify the print function a little bit. Strings can be concatenated (glued together) with the + operator,

In [2]:
print('The text is:' + text)
print('The type of text is:' )
print(type(text))

The text is:Hello Tea rabbit!
The type of text is:
<class 'str'>

Note that in Python programming, a string can be defined by single quotation marks or double quotation marks. If you put a number inside a quotation mark, Python treats it as a string. Let see the different of x and y

In [3]:
x = '1'
y = 1
print('The type of x is ' )
print(type(x))
print('The type of y is ')
print(type(y))

The type of x is
<class 'str'>
The type of y is
<class 'int'>

Sometimes, we want to print a string including a quotation mark. For example, we want to print: doesn't. If you use command:
print('doesn't')
you might get error:
SyntaxError: invalid syntax. Perhaps you forgot a comma?

One of the solution is to use double quotation to define a string.

In [4]:
print("doesn't")

doesn't

Another solution is to "escape" it by preceding it with the back slash symble.

In [5]:
print('doesn\'t')

doesn't

Let's try another example:
We want to print: "I am good!" he said

In this case, we can use single quotation to define the string.

In [6]:
print('"I am good!" he said')

"I am good!" he said

Or we can use \ to escape the quotation mark in the string.

In [7]:
print("\"I am good!\" he said")

"I am good!" he said

In a string, \n means starting a new line.

In [8]:
print('Hello Tea rabbit.\nHow are you?')

Hello Tea rabbit.
How are you?

We need to print a digital variable.

In [9]:
pi=3.14
print('The value of pi is ', pi)

The value of pi is  3.14

We want to print a digital varialbe in a string with a kind of format. There are several ways to do that and here is the most simple one.

In [10]:
pi = 3.1415926
print("PI = %.4f" % pi)

PI = 3.1416

We need to print two or more digital variable in a string.

In [11]:
a = 0.123
b = 2.345

print('a=%.2f b=%.2f'% (a,b))

a=0.12 b=2.35

We can print string in multiple lines using triple-quotes """...""" or '''...''''

In [12]:

print('''
      Age   height
Tom   10    165 cm
Mike  11    170 cm
''')

      Age   height
Tom   10    165 cm
Mike  11    170 cm